<aside class="right-sidebar dark-bg flex hide">
    <div class="responsive-menu">
        <ul class="nav">
            <li>
                <a href="/">Abhishek</a>
            </li>
            <li>
                <a href="{{'/notes' | relative_url}}">Notes</a>
            </li>
            <li>
                <a href="{{'/articles' | relative_url}}">Articles</a>
            </li>
            <li>
                <a href="{{'/now' | relative_url}}">Now</a>
            </li>
        </ul>
    </div>
</aside>