<aside class="sidebar dark-bg flex">
    <div class="social-icons-wrapper">
        <div class="social-icons" title="LinkedIn">
            <a href="https://www.linkedin.com/in/abhishek-ejam/" target="_blank">
                <i class="icon fa fa-linkedin"></i>
            </a>
        </div>
        <div class="social-icons" title="GitHub">
            <a href="https://github.com/nottherealironman" target="_blank">
                <i class="icon fa fa-github"></i>
            </a>
        </div>
        <div class="social-icons" title="Medium">
            <a href="https://medium.com/@ejam.abhishek" target="_blank">
                <i class="icon fa fa-medium"></i>
            </a>
        </div>
        <div class="social-icons" title="Stack overflow">
            <a href="https://stackoverflow.com/users/4624077/abhishek" target="_blank">
                <i class="icon fa fa-stack-overflow"></i>
            </a>
        </div>
        <div class="social-icons" title="Instagram">
            <a href="https://instagram.com/abhishekejam" target="_blank">
                <i class="icon fa fa-instagram"></i>
            </a>
        </div>
    </div>
</aside>