@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext);
:root {
    --dark-color : #2E2D2D;
    --secondary-dark-color : #AFAFAF;
    --ternary-dark-color : #818181;
    --light-color : #ffffff;
    --light-dark-color : #404040;
    --secondary-color: #2380D7;
    --success-color: #5cb85c;
    --error-color: #d95345;

    --font-xxlg: 58px;
    --font-xlg: 50px;
    --font-lg: 40px;
    --font-lg-md: 36px;
    --font-lg-md-sm: 32px;
    --font-lg-sm: 28px;
    --font-lg-xsm: 24px;
    --font-md-lg: 22px;
    --font-md: 20px;
    --font-md-sm: 18px;
    --font-sm: 16px;
    --font-xsm: 12px;
    --primary-font : 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--primary-font);
    color: #333;
    line-height: 1.6;
    font-size: var(--font-md);
}

ul:not(.bp-articles) {
    list-style-type: none;
}

ol, ul.bp-articles {
    padding: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

h1 {
    font-weight: 300;
    line-height: 1.2;
    margin: 0 !important;
    font-size: var(--font-xxlg);
}

h2 {
    line-height: 1.2;
    margin: 0 !important;
    font-size: var(--font-lg-md-sm);
}

h3 {
    font-size: var(--font-lg-sm);
}

h4 {
    font-size: var(--font-md-lg);
}

h5 {
    font-size: var(--font-md);
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code, pre {
    background: #333;
    color: #fff;
    font-size: var(--font-sm);
}

code, a {
    overflow-wrap: break-word;
}

/* Colors definition */

.main-container.dark-bg {
    background-color: var(--dark-color);
}

.main-container.dark-bg *{
    color: var(--light-color);
}

.main-container.light-bg, .main-container.light-bg a  {
    background-color: var(--light-color);
    color: var(--dark-color); 
}

.sidebar.dark-bg {
    background-color: var(--light-dark-color);
}

.right-sidebar.dark-bg {
    background-color: var(--light-dark-color);
}

.main-container {
    min-height: 105vh;
    /* display: flex;
    flex-direction: column; */
}

#navbar .container {
    position: relative;
    top: 20px;
}

/* Header css */

.sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-x: hidden;
    align-items: flex-start !important;
    box-shadow: 2px 0 10px -3px rgba(2,12,27,0.7)
}

/* .sidebar .social-icons-wrapper {
    position: relative;
    top: 10%;
} */

.notification {
    font-size: var(--font-xsm);
    text-align: center;
    padding: 5px;
    background: var(--secondary-dark-color);
}

.notification .close {
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

.sidebar .social-icons {
    text-align: center;
    margin: 20px auto;
}

.sidebar .social-icons a {
    text-decoration: none;
}

.sidebar .social-icons .icon {
    font-size: 1.5em;
}

.right-sidebar {
    height: 100%;
    width: 78%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    overflow-x: hidden;
    text-align: center;
    align-items: flex-start !important;
    box-shadow: -9px 0px 10px -10px rgba(2,12,27,0.7);
}

div .hide {
    display: none;
}

.right-sidebar li {
    margin: 30px auto;
}

.right-sidebar .responsive-menu {
    position: relative;
    top: 15%;
}

/* header css */

.header {
    height: 70px;
}

.header ul {
    display: flex;
}

.header a:not(.blog-link) {
    font-size: inherit;
    color: var(--secondary-dark-color);
}

.blog-link:hover {
    color: var(--light-dark-color);
}

.header a.active, .header a:hover {
    color: var(--light-color);
}

.header .flex {
    justify-content: space-between;
}

.header .flex ul li {
    margin: 0 55px 0 0;
}

.small-screen-nav {
    display: none !important;
}

/* Homepage CSS */

.intro-block .grid {
    align-items: start;
}

.mi-img img {
    max-width: 500px;
    max-height: 300px;
    width: 80%;
    object-fit: contain;
}

.intro-block .mi-intro {
    width: 70%;
}

.intro-block .mi-intro h3 {
    color: var(--secondary-dark-color);
}

.intro-block .mi-intro p {
    font-size: inherit;
}

.intro-block .btn-contact {
    background-color: var(--ternary-dark-color);
    display: inline-block;
    border: 1px solid #969090;
    box-shadow: 1px 1px 2px 1px #404040;
}

.intro-block .btn-contact:hover {
    background-color: var(--dark-color);
}

/* Story block */

.story-block .grid {
    grid-template-columns: 1fr;
    justify-items: center;
}

.story-block .mi-description {
    width: 50%;
}

/* Skills block */

.skills-block .grid {
    grid-template-columns: repeat(2, 1fr);
}

.skills-block .grid > :first-child {
    grid-column: 1 / span 2;
    justify-items: center;
}

.skills-block .grid > :first-child .card {
    width: 25%;
}

.skills-block .grid .card {
    width: 50%;
    text-align: center;
}

.skills-block p {
    color: var(--secondary-dark-color) !important;
}

/* Work CSS - START */

.work-block .grid {
    grid-template-columns: repeat(3, 1fr);
}

.work-block .flex {
    align-items: flex-start;
    margin-right: 40px;
    border: 1px solid #969090;
    border-radius: 13px;
    padding: 10px;
    box-shadow: 1px 4px 6px -3px #fff;
    min-height: 240px;
}

.work-block h4 {
    font-size: var(--font-lg-xsm);
}

.work-block .language-wrapper {
    display: inline-flex;
}

.work-block .language-wrapper span {
    font-size: var(--font-sm);
}

.work-block .language {
    margin-right: 5px;
}

.work-block .percentage, .work-block p {
    color: var(--secondary-dark-color) !important;
}

/* Work CSS - END */

/* Articles CSS - START */

.article-block .grid {
    grid-template-columns: 2fr 1fr;
    align-items: start;
}

.article-block {
    width: 90%;
}

.article-block h3 {
    line-height: 1;
}

.time-n-date, .keywords {
    font-size: var(--font-sm) !important;
    color: var(--secondary-dark-color) !important;
}

.keywords {
    font-style: italic;
}

.article-block .desc {
    font-size: var(--font-md);
    color: var(--secondary-dark-color);
}

.article-block .mi-img img {
    max-width: 220px;
    max-height: 220px;
}

/* Article detail */
/* 
} */

.article-block h1,
.article-detail-block h1 {
    font-size: var(--font-lg);
}

.article-detail-block p {
    font-size: var(--font-md);
}

.article-detail-block h3,
.article-detail-block h4,
.article-detail-block h5,
.article-detail-block table,
.article-detail-block p  {
    justify-self: left;
}

.article-detail-block img {
    width: 100%;
}

p.code, div.code {
    background-color: #333;
    padding: 25px;
}


div.active-code {
    background-color: #404040;
}

div.active-code > code {
    background-color: transparent;
}

/* Articles CSS - END */

/* Now CSS - START */

.now-block .mi-nw-content, .article-detail-block .grid {
    width: 40%;
}

.now-block ul li span, .now-block ul li a {
    font-size: var(--font-md-sm);
    font-style: italic;
}
/* Now CSS - END */

/* Footer */
.footer-block {
    background-color: var(--secondary-color);
    text-align: center;
    position: relative;
    margin-top: auto !important;
    color: var(--light-color);
}

.footer-block .heading {
    font-size: 16px;
}

.footer-block .sub-heading, .footer-block .branch {
    font-size: 12px;
}

.footer-block .branch {
    position: absolute;
    left: 6%;
}

.article-detail-block .content-wrapper,
.now-block .content-wrapper {
    max-width: 680px;
}

/* 404 error */
.page-404-block .grid {
    grid-template-columns: 1fr;
    justify-items: center;
}
@media screen and (min-width: 769px) and (max-width: 1600px) {
    div .container {
        margin-left: 8%;
    }
}

@media screen and (min-width: 1024px) {
    /* Sticky Nav Css*/
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: var(--dark-color);
        z-index: 1;
        box-shadow: 2px 0 10px -3px rgba(2,12,27,0.7)
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: var(--font-md-sm);
    }
    
    /* .container {
        margin: 0 10%;
    } */

    h3 {
        font-size: var(--font-md-lg);
    }

    h4 {
        font-size: var(--font-md);
    }

    .mt-40 {
        margin-top: 10px;
    }

    .mt-20 {
        margin-top: 10px;
    }

    .mt-10 {
        margin-top: 0;
    }

    /* Main page CSS*/
    /* Intro block */
    h1 {
        font-size: var(--font-lg);
    }

    /* Footer */
    .footer-block .branch {
        left: 10%;
    }
}

@media screen and (max-width: 768px){
    .grid {
        justify-items: center;
        grid-template-columns: 1fr !important;
    }

    .grid .card {
        width: 100% !important;
    }

    .container {
        width: 80%;
    }

    h1 {
        font-size: var(--font-xlg);
        font-weight: 600;
    }

    h1 {
        font-size: var(--font-xlg);
        font-weight: 600;
    }

    h3 {
        font-size: var(--font-lg-md);
        font-weight: 200;
    }

    h4 {
        font-size: var(--font-lg-sm);
    }

    p {
        font-size: var(--font-lg-xsm) !important;
    }

    p.code, div.code {
        padding: 5px;
    }
    
    .social-icons-wrapper {
        margin-left: 5px;
    }

    .header {
        height: 100px;
    }

    a {
        font-size: var(--font-lg-xsm) !important;
    }

    .mt-100 {
        margin-top: 0px;
    }
    
    /* Homepage CSS*/
    .intro-block .grid {
        grid-template-columns: 1fr;
    }

    .intro-block .mi-img img {
        max-height: none;
        width: 100%;
    }
    
    .intro-block .mi-intro {
        width: 100%;
    }

    .intro-block .mi-intro {
        grid-row-start: 1;
    }

    .intro-block .mi-intro h1 span {
        display: block;
    }

    .story-block .mi-description {
        width: 100%;
    }

    .skills-block .grid > :first-child {
        grid-column: 1 / span 1;
    }

    .skills-block .flex {
        margin: 15px auto;
    }

    .skills-block h4, .skills-block p {
        text-align: left;
    }

    /* Articles */
    .article-block {
        width: 100%;
    }

    .main-container .min-ht {
        min-height: 75vh;
    }

    /* Now */
    .now-block .mi-nw-content, .article-detail-block .grid {
        width: 85%;
    }

    /* Footer */
    .footer-block.flex {
        flex-direction: column;
    }

    .footer-block .heading {
        font-size: var(--font-sm) !important;
    }

    .footer-block .sub-heading, .footer-block .branch {
        font-size: var(--font-xsm) !important;
    }
    
    .footer-block .branch {
        position: static;
    }

    td {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px){

    /* div .hide {
        display: block;
    } */

    body.disabled {
        overflow: hidden;
    }

    body.enabled {
        overflow: visible;
    }

    a, p, li, code {
        font-size: 4vw !important;
    }

    code {
        width: 50px;
    }

    h1 {
        font-size: 6.6vw;
    }

    h3 {
        font-size: 5vw !important;
    }

    h4 {
        font-size: 4.5vw;
    }

    .mt-80 {
        margin-top: 40px;
    }

    section.mt-150 {
        margin-top: 50px;
    }

    section.mtb-150 {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .sidebar {
        width: 12% !important;
    }

    .header {
        top: 0;
    }

    div.container {
        padding-left: 40px;
        padding-right: 0px;
    }

    .header .col-md-4 {
        justify-self: left;
    }

    .header .col-md-6 {
        justify-self: right;
    }

    .large-screen-nav {
        display: none !important;
    }

    .small-screen-nav {
        display: block !important;
        font-size: 4vw !important;
        z-index: 10;
    }

    /* .article-block {
        width: 70%;
    } */

    section.mtb-80 {
        margin: 40px 0;
    }

    .code code {
        font-size: 2vw !important;
    }    

    .article-block h1, .article-detail-block h1 {
        font-size: 6.6vw;
    }

    .header .grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .footer-block .heading {
        font-size: 3vw !important;
    }

    .work-block .flex {
        margin-right: 0px;
    }

    .footer-block .sub-heading, .footer-block .branch {
        font-size: 2.5vw !important;
    }
}
/* Utilities */
.container {
    max-width: 1400px;
    margin: 0 auto;
    /* overflow: auto; */
    padding:0 40px;
    position: relative;
    /* left: 5%; */
    /* margin-left: 20%; */
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-1 {
    grid-template-columns: 1fr;
    /* justify-items: center; */
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Text */
.font-sm {
    font-size: var(--font-sm);
}

a {
    color: var(--secondary-dark-color) !important;
}

a:hover {
    color: var(--light-color) !important;
}

.itcs {
    font-style: italic;
}

/* Margin */

.mt-200 {
    margin-top: 200px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-0 {
    margin-top: 0px;
}

/* Margin bottom */
.mb-150 {
    margin-bottom: 150px;
}

.mb-100 {
    margin-bottom: 100px;
}


.mb-80 {
    margin-bottom: 80px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-0 {
    margin-bottom: 0px;
}

/* Margin top-bottom */
.mtb-200 {
    margin: 200px 0;
}

.mtb-150 {
    margin: 150px 0;
}

.mtb-100 {
    margin: 100px 0;
}

.mtb-80 {
    margin: 80px 0;
}

.mtb-60 {
    margin: 60px 0;
}

.mtb-50 {
    margin: 50px 0;
}

.mtb-40 {
    margin: 40px 0;
}

.mtb-30 {
    margin: 30px 0;
}

.mtb-20 {
    margin: 20px 0;
}

.mtb-10 {
    margin: 10px 0;
}

.mg-0 {
    margin: 0px;
}

/* Padding */

.pd-10 {
    padding: 10px;
} 

/* Letter spacing */
.ls-1 {
    letter-spacing: 1px;
}

.min-ht {
    min-height: 65vh;
}
